WHISPER_MODEL=large-v2
WHISPER_DEVICE=cpu
WHISPER_COMPUTE_TYPE=int8
WHISPER_LANGUAGE=ja
WHISPER_MODEL_DIR=whisper-output
MAX_UPLOAD_MB=50
GUNICORN_BIND=0.0.0.0:5002
GUNICORN_WORKERS=1
GUNICORN_TIMEOUT=600
